{% trans_default_domain 'FOSUserBundle' %}

<div class="well">
<center>
	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-change-password">
	{{ form_errors(form) }}
		{% if not form.current_password.vars.valid %}{% set class_current_password_error = ' has-error' %}{% else %}{% set class_current_password_error = '' %}{% endif %}
		<div class="form-group{{ class_current_password_error }}">
			{{ form_label(form.current_password, null, {'label_attr': {'class': 'sr-only'}}) }}
			{{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': 'form.current_password'|trans }}) }}
			{{ form_errors(form.current_password) }}
		</div>
		{% if not form.plainPassword.first.vars.valid %}{% set class_plainPassword_first_error = ' has-error' %}{% else %}{% set class_plainPassword_first_error = '' %}{% endif %}
		<div class="form-group{{ class_plainPassword_first_error }}">
			{{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'sr-only'}}) }}
			{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'form.new_password'|trans }}) }}
			{{ form_errors(form.plainPassword.first) }}
		</div>
		{% if not form.plainPassword.second.vars.valid %}{% set class_plainPassword_second_error = ' has-error' %}{% else %}{% set class_plainPassword_second_error = '' %}{% endif %}
		<div class="form-group{{ class_plainPassword_second_error }}">
			{{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'sr-only'}}) }}
			{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'form.new_password_confirmation'|trans }}) }}
			{{ form_errors(form.plainPassword.second) }}
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">{{ 'change_password.submit'|trans }}</button>
		{{ form_end(form) }}
	</form>
</center>
</div>